.uktell-navbar{
    background-image: url(../image/navbar.png);
    background-position: center center;
    background-size: cover;
    padding: 0 25px;
}

.brand-img{
    width: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.secondary-nav{
    background-color: #000;
    border-radius: 10px;
}

.secondary-nav .nav-item a{
    color: #fff;
    font-weight: 700;
    padding: 5px 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.active{
    color: #189fd8 !important;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 120px;
    margin-left: 10px;
    border-radius: 10px;
}



/* Navbar  behavior on Scrolling */
.primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
 }

.shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 80px !important;
}

.shrink .navbar-brand img{
    width: 100px !important;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}




/*=============================== Banner Section Css =============================== */
.about-banner{
    background-image: url(../image/about-bg.png);
    background-position: center center;
    background-size: cover;
    padding: 10px 0;
}

.about-big-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    padding: 150px 0;
    text-align: center;
}

.about-text{
    margin: 100px 0;
}
.about-text p{
    font-weight: 600;
}



.text-color{
    color: #169FD8;
}
.t-bold{
    font-weight: 700;
}

/* Footer section Css */
footer{
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-logo{
    width: 200px;
    margin: 30px;
}

footer h6{
    margin-bottom:8px;
    font-size: 12px;
    font-weight: 600;
}
footer p{
    margin-bottom:8px;
    font-size: 10px;
    font-weight: 600;
}

.subscribe-email{
    font-size: 14px;
    padding: 2px 8px;
    color: #000;
    text-decoration: none;
}

.social-logo{
    width: 30px;
    padding: 5px;
}
.social-block{
    border-radius: 15px;
    width: 80%;
    float:right;
}




/* ===================================Responsive ========================== */
/*  Mobile Screen */
@media only screen and (min-width: 300px) and (max-width: 500px){
    .uktell-navbar{
        background-image: url(../image/navbar.png);
        background-position: center center;
        background-size: cover;
        padding: 0 15px;
    }
    .secondary-nav{
        margin-bottom: 20px;
        display: block;
    }
    .secondary-nav .nav-item{
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
    .search-box-res{
        margin-bottom: 20px;
        margin-right: 10px;
    }


    .about-big-title{
        font-size: 70px;
        padding: 100px 0;
    }

    

    .footer-box{
        background-color: #169FD8;
    }
    .social-block{
        margin: 15px 0;
    }
}