.uktell-navbar{
    background-image: url(../image/navbar.png);
    background-position: center center;
    background-size: cover;
    padding: 0 25px;
}

.brand-img{
    width: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.secondary-nav{
    background-color: #000;
    border-radius: 10px;
}

.secondary-nav .nav-item a{
    color: #fff;
    font-weight: 700;
    padding: 5px 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.active{
    color: #189fd8 !important;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 120px;
    margin-left: 10px;
    border-radius: 10px;
}




/* Navbar  behavior on Scrolling */
.primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
 }

.shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 80px !important;
}

.shrink .navbar-brand img{
    width: 100px !important;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}




/*=============================== Banner Section Css =============================== */
.renew-banner{
    background-image: url(../image/renew-bg.png);
    background-position: center center;
    background-size: cover;
    padding: 10px 0;
}

.renew-form{
    width: 50%;
    padding: 80px 60px;
    margin: 80px 0;
    background-color: #c3c2bfb2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.renew-banner .form-control, .renew-banner .input-group, .renew-banner .form-select{
    background-color: #9CB5BD;
    border:none;
    border-radius: 20px;
}

.renew-banner .form-control::placeholder{
    color: #000;
}

.btn-color{
    padding: 6px 50px;
    background-image: linear-gradient(45deg, #17a2dd, #167b9c);
    color: #000;
    font-size: 18px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px gray;
}

.text-color{
    color: #169FD8;
}
.t-stroke{
    -webkit-text-stroke: 0.3px #000;
}


/*================ Footer section Css =================*/
footer{
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-logo{
    width: 200px;
    margin: 30px;
}

footer p{
    margin-bottom:8px;
    font-size: 14px;
    font-weight: 600;
}

.social-logo{
    width: 30px;
    padding: 5px;
}
.social-block{
    margin-top: 50px;
    border-radius: 15px;
}



/* ===================================Responsive ========================== */
/*  Mobile Screen */
@media only screen and (min-width: 300px) and (max-width: 500px){
    .uktell-navbar{
        background-image: url(../image/navbar.png);
        background-position: center center;
        background-size: cover;
        padding: 0 15px;
    }
    .secondary-nav{
        margin-bottom: 20px;
        display: block;
    }
    .secondary-nav .nav-item{
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
    .search-box-res{
        margin-bottom: 20px;
        margin-right: 10px;
    }


    
    .renew-form{
        width: 90%;
        padding: 40px 30px;
        margin: 60px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    
    
    .btn-color:hover, .btn-active{
        background-color: #1889b3;
        color: #fff;
    }
    .flag{
        width: 100px;
        height: 100px;
        border-radius: 25px;
        box-shadow: 0px 0px 20px gray;
    }


    .footer-box{
        background-color: #169FD8;
    }
    .social-block{
        margin: 15px 0;
    }
    
}