.uktell-navbar{
    background-image: url(../image/navbar.png);
    background-position: center center;
    background-size: cover;
    padding: 0 25px;
}

.brand-img{
    width: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.secondary-nav{
    background-color: #000;
    border-radius: 10px;
}

.secondary-nav .nav-item a{
    color: #fff;
    font-weight: 700;
    padding: 5px 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.active{
    color: #189fd8 !important;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 120px;
    margin-left: 10px;
    border-radius: 10px;
}

.banner-section{
    background-image: url(../image/top-banner.png);
    background-position: center center;
    background-size: cover;
    padding: 50px 130px;
}

.banner-section h1{
    font-family: 'Bebas Neue', cursive;
    color: #169FD8;
}

.banner-bg-title{
    font-size: 90px;
    padding:0 !important;
}

.banner-sm-title{
    font-size: 60px;
    padding: 0 !important;
}

.dash{
    height: 5px;
    background-color: #169FD8;
    width: 80px;
}

.banner-text{
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 32px;
    font-weight: 500;
}

.banner-text li {
    list-style: none;
    line-height: 60px;
}

.banner-text li::before {
    content: "\2022";
    color: #169FD8;
    font-weight: 800;
    display: inline-block; 
    width: 1.25em;
    margin-left: -1em;
}


h5{
    margin: 5px 0;
}

.content-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 40px 0;
}

.btn-view{
    color: #fff;
    background-color: #fff;
    margin:0px !important;
}
.btn-view:hover{
    color: #fff;
}


/* Package Card */
.pkg-card{
    text-align: center;
}

.pkg-card:hover> .btn-view{
    background-color:#000;
    color: #fff;
}

.pkg-card:hover{
    background-color:#169FD8;
    color: white;
    cursor: pointer;
}


.bg-package{
    background-color: #E9ECFA;
}
.package-list{
    list-style: none;
    padding: 10px 0 0px 10px;
    margin-bottom: 5px;
}
.package-list li{
    border-bottom: 1px solid lightgray;
    line-height: 30px;
}
.border-none{
    border-bottom: none !important;
}
.package-title{
    margin-top: 62px;
    margin-bottom: 55px;
}

.bg-package-hover:hover{
    background-color: #169FD8;
    color: #fff;
}

.bg-package-hover:hover> .bg-package{
    background-color: #169FD8;
}
.bg-package-hover:hover > button{
    background-color: #000;
    color: white
}
.pkg-opr-icon{
    width: 100px;
    padding-top: 20px;
}

.btn-view-plan{
    color: #fff;
}

.free-int-min-lh{
    line-height: 20px !important;
    padding-bottom: 10px;
}
.free-int-min-p{
    padding-bottom: 20px;
}


/* Sim Offer */
.sim-section{
    background-image: url(../image/sim.png);
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
}

.uktell-sim-card{
    text-align: center;
    padding: 35px;
    background-color: #e7e7e8;
    border-radius: 10px;
}
.sim-title{
    font-size: 56px;
    font-family: 'Bebas Neue', cursive; 
}
.sim-text{
    font-size: 26px;
    font-weight: 700;
    color: #2f2f2f;
    font-family: 'Poppins', sans-serif;
}

.text-color{
    color: #169FD8;
}

.btn-see-details{
    position: relative;
    background-image: linear-gradient(45deg, #1cadeb, #167b9c);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 40px 8px 20px;
    border-radius: 25px;
}
.btn-see-details:hover{
    color: #fff;
}
.btn-next-icon{
    position: absolute;
    border: 3px solid #1cadeb;
    background-color:#169FD8 ;
    padding: 18px;
    bottom:-10px;
    right: -25px;
    border-radius: 50%;
}


.choosen-q-title{
    font-weight: 700;
    font-size: 36px;
}

footer{
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-logo{
    width: 200px;
    margin: 30px;
}

footer p{
    margin-bottom:8px;
    font-size: 14px;
    font-weight: 600;
}

.social-logo{
    width: 30px;
    padding: 5px;
}
.social-block{
    margin-top: 50px;
    border-radius: 15px;
}



/* ===================================Responsive ========================== */
/*  Mobile Screen */
@media only screen and (min-width: 300px) and (max-width: 500px){
    .uktell-navbar{
        background-image: url(../image/navbar.png);
        background-position: center center;
        background-size: cover;
        padding: 0 15px;
    }
    .secondary-nav{
        margin-bottom: 20px;
        display: block;
    }
    .secondary-nav .nav-item{
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
    .search-box-res{
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .banner-section{
        background-image: url(../image/top-banner.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 20px;
    }
    
    .banner-bg-title{
        font-size: 80px;
    }
    .banner-sm-title{
        font-size: 50px;
    }
    .banner-text{
        color: white;
        font-family: 'Poppins', sans-serif; 
        font-size: 22px;
        font-weight: 500;
    }
    .content-title{
        font-size: 25px;
        padding: 0;
    }
    .btn-view-plan{
        margin-bottom: 10px;
    }
        
    /* Sim Offer */
    .sim-section{
        padding: 50px 0;
    }

    .uktell-sim-card{
        padding: 20px 10px;
        
    }
    .sim-title{
        font-size: 38px;
    }
    .sim-text{
        font-size: 18px;        
    }
    .choosen-q-title{
        font-size: 24px;
    }
    .footer-box{
        background-color: #169FD8;
    }
    .social-block{
        margin: 15px 0;
    }
}