.uktell-navbar{
    background-image: url(../image/navbar.png);
    background-position: center center;
    background-size: cover;
    padding: 0 25px;
}

.brand-img{
    width: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.secondary-nav{
    background-color: #000;
    border-radius: 10px;
}

.secondary-nav .nav-item a{
    color: #fff;
    font-weight: 700;
    padding: 5px 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.active{
    color: #189fd8 !important;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 120px;
    margin-left: 10px;
    border-radius: 10px;
}



/*=============================== Banner Section Css =============================== */
.topup-banner{
    background-image: url(../image/topup-bg.png);
    background-position: center center;
    background-size: cover;
    padding: 10px 0;
}

.topup-big-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    padding: 150px 0;
    text-align: center;
}

.topup-text{
    margin: 100px 20px;
}
.topup-text p{
    font-weight: 500;
}


.text-color{
    color: #169FD8;
}

    
.btn-color{
    background-color: #169FD8;
    color: #fff;
    box-shadow: 0px 0px 6px #646464;
    border-radius: 25px;
    font-weight: 700;
    padding:8px 20px;
}
    
.btn-color:hover{
    background-color: #169FD8;
    color: #fff;
    
}

.collapse-heading{
    margin:0;
}

.topup-card{
    border: none;
    margin-bottom: 20px;
}





/*================ Footer section Css =================*/
footer{
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-logo{
    width: 200px;
    margin: 30px;
}

footer p{
    margin-bottom:8px;
    font-size: 14px;
    font-weight: 600;
}

.social-logo{
    width: 30px;
    padding: 5px;
}
.social-block{
    margin-top: 50px;
    border-radius: 15px;
}







/* ===================================Responsive ========================== */
/*  Mobile Screen */
@media only screen and (min-width: 300px) and (max-width: 500px){
    .uktell-navbar{
        background-image: url(../image/navbar.png);
        background-position: center center;
        background-size: cover;
        padding: 0 15px;
    }
    .secondary-nav{
        margin-bottom: 20px;
        display: block;
    }
    .secondary-nav .nav-item{
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
    .search-box-res{
        margin-bottom: 20px;
        margin-right: 10px;
    }


    .topup-big-title{
        font-size: 70px;
        padding: 100px 0;
    }

    .topup-text{
        margin: 60px 10px;
    }
            
    .btn-color{
        font-weight: 400;
        font-size: 14px;
        padding:8px 15px;
    }
    

    .footer-box{
        background-color: #169FD8;
    }
    .social-block{
        margin: 15px 0;
    }
}